.items {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  flex-wrap: wrap;
  margin-bottom: 20px;
  justify-content: center;
  h5 {
    color: #fff;
    margin-bottom: 10px;
  }
  p {
    margin-bottom: 10px;
  }
  a {
    color: inherit;
  }
  &:last-child {
    h5 {
      color: #ff9f35;
    }
  }
}
