.project {
  margin-bottom: 90px;
  position: relative;
  display: flex;
  @media only screen and (max-width: 790px) {
    margin-bottom: 40px;
  }
  @media only screen and (max-width: 550px) {
    margin-bottom: 300px;
  }
  .card {
    box-shadow: 0 8px 10px -6px rgba(0, 0, 0, 0.1), 0 20px 25px -5px rgba(0, 0, 0, 0.1);
    background: #23202a;
    border-radius: 24px;
    position: absolute;
    bottom: -20px;
    right: 0;
    max-width: 500px;
    padding: 40px;
    @media only screen and (max-width: 1024px) {
      width: 500px;
      padding: 20px;
    }
    @media only screen and (max-width: 790px) {
      width: 300px;
    }
    @media only screen and (max-width: 550px) {
      width: 250px;
      margin-bottom: 100px;
      bottom: -350px;
    }
    h2 {
      margin-top: 40px;
      margin-bottom: 20px;
      @media only screen and (max-width: 1024px) {
        margin: 20px 0;
      }
    }
    p {
      line-height: 100%;
    }
    .button {
      cursor: pointer;
      margin: 20px 0;
      border-radius: 24px;
      padding: 10px 20px;
      background: #161220;
      color: #fff;
      @media only screen and (max-width: 1024px) {
        margin: 0;
        margin-top: 20px;
      }
    }
  }
  &:nth-child(even) {
    justify-content: flex-end;
    .card {
      left: 0;
    }
  }
}
